body{
	font-family: 'Open Sans', sans-serif;
	background-color: #ecf2f9;
}

.navbar {
	background-color: #013F70;
}

.navbar .nav-link{
	color: #fff;
}

.sm-title{
	font-family: 'Poppins', 'sans-serif';
	font-weight: bold;
}

.group-title{
	color: #013F70;	
}