
<div class=container>
	<div class="row">
		<div class="col">
			<p class="h1 mb-3">Add New Movie</p>
		</div>
	</div>
	<form method="post" action="/admin/movie/add">
		<div class="row">
			<input id="movie_title" name="movie_title" type="text" size="5" placeholder="movie_title"></input>	
		</div>
	<div class="row mt-3">
		<div class="col"></div>
		<div class="col">
			<p class="h4"><strong>Stock</strong></p>
		</div>
		<div class="col">
			<p class="h4"><strong>Rental Price</strong></p>
		</div>
		<div class="col">
			<p class="h4"><strong>Purchase Price</strong></p>
		</div>
	</div>
		<div class="row">
			<div class="col">
				<p class="h4"><strong>VHS</strong></p>
			</div>
			<div class="col">
				<input name="vhs_inventory_location" type="text" size="5" placeholder="Location"></input>
				<input name="vhs_inventory_count" type="text" size="5" placeholder="Count"></input>
			</div>
			<div class="col">
				<input name="vhs_rental_cost" type="text" size="5" placeholder="3.50"></input>
			</div>
			<div class="col">
				<input name="vhs_purchase_cost" type="text" size="5" placeholder="4.00"></input>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p class="h4"><strong>DVD</strong></p>
			</div>
			<div class="col">
				<input name="dvd_inventory_location" type="text" size="5" placeholder="Location"></input>
				<input name="dvd_inventory_count" type="text" size="5" placeholder="Count"></input>
			</div>
			<div class="col">
				<input name="dvd_rental_cost" type="text" size="5" placeholder="3.50"></input>
			</div>
			<div class="col">
				<input name="dvd_purchase_cost" type="text" size="5" placeholder="4.00"></input>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p class="h4"><strong>Blu-Ray</strong></p>
			</div>
			<div class="col">
				<input name="bluray_inventory_location" type="text" size="5" placeholder="Location"></input>
				<input name="bluray_inventory_count" type="text" size="5" placeholder="Count"></input>
			</div>
			<div class="col">
				<input name="bluray_rental_cost" type="text" size="5" placeholder="3.50"></input>
			</div>
			<div class="col">
				<input name="bluray_purchase_cost" type="text" size="5" placeholder="4.00"></input>
			</div>
		</div>
			<div class="row">
			<div class="col">
				<p class="h4"><strong>Digital</strong></p>
			</div>
			<div class="col">
				<input disabled type="text" size="5" placeholder="n/a"></input>
			</div>
			<div class="col">
				<input name="digital_rental_cost" type="text" size="5" placeholder="3.50"></input>
			</div>
			<div class="col">
				<input name="digital_purchase_cost" type="text" size="5" placeholder="4.00"></input>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label for="availability">Available</label>
				<input name="availability" type="checkbox" value="availability" id="availability" <check if="{{ @available }}">checked</check>>
			</div>
		</div>
		<div class="row">
			<button type="submit" name="action" value="add" class="btn btn-info">Add</button>
		</div>
	</form>
</div>