<div class="container" style="margin-bottom: 200px;">
  <div class="row mb-2">
    <div class="col">
      <p class="display-4">Checkout</p>
    </div>
  </div>
	<div class="col-lg-5 col-sm-5 col-5">
    <check if="{{ @SESSION['balance'] > 0 }}">
      <true><p>You have a balance of {{ @balance }}, that must be paid before you can make any more purchases or checkout rentals. Please, visit your profile and resolve your balance.</p></true>
    </check>
	</div>
  <repeat group="{{ @cart->find() }}" value="{{ @cart_item }}">
    <div class="row cart-detail">
      <div class="col-lg-5 col-sm-5 col-5 cart-detail-product">
        <a href="/movies/{{ @cart_item->movieid }}">
          <p class="h2">
            {{ @cart_item->movie_title }} ${{ @cart_item->amount }} - {{ @cart_item->purchase_type }}
          </p>
        </a>
      </div>
      <div class="col-lg-1 col-sm-1 col-1">
        <a type="button" href="/movies/cart/remove/{{ @cart_item->movieid }}" class="btn btn-link">
         <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </repeat>
  	<div class="col-lg-5 col-sm-5 col-5 total-section text-left">
  		<p class="h2">Total: <span class="text-info">${{ @cart_total_cost }}</span></p>
  	</div>
  <check if="{{ @cart->count() > 0}}">
    <div class="row">
      <div class="col-2">
        <a href="/movies/cart/empty" class="btn btn-danger btn-block">Empty Cart</a>
      </div>
      <div class="col-2">
        <a href="/checkout" class="btn btn-primary btn-block">Checkout</a>
      </div>
    </div>
  </check>
  <check if="{{ @cart->count() == 0}}">
      <div class="col-lg-5 col-sm-5 col-5 cart-detail-product">
        <h5>You don't have anything in your cart, yet!</h5>
      </div>
  </check>

  <div>
    <check if="{{ @$_SESSION['max_rentals_reached'] }}">
      <true>
        <a href="/profile/{{ @SESSION['userid'] }}"> You have reached a maximum of two rentals, either return any rentals you have checked out or remove a rental from your cart</a>
      </true>
    </check>
  </div>
</div>