<div class="container">
	<div class="row mb-2">
		<div class="col offset-md-1">
			<p class="display-3">Welcome {{ @username }}</p>
		</div>
	</div>
	<div class="row">
		<div class="col cols-2 offset-5"><a class="btn btn-info btn-block" href="/movies">Search movies</a></div>
		<div class="col cols-1"></div>
		<div class="col cols-1"></div>
	</div>
	<div class="row">
		<div class="col cols-1 offset-5"><a class="btn btn-info btn-block" href="/checkout/{{ @customerid }}">Checkout(rent)/buy</a></div>
		<div class="col cols-1"></div>
		<div class="col cols-1"></div>
	</div>
	<div class="row">
		<div class="col cols-1 offset-5"><a class="btn btn-info btn-block" href="/profile/{{ @customerid }}">Return</a></div>
		<div class="col cols-1"></div>
		<div class="col cols-1"></div>
	</div>
	<div class="row">
		<div class="col cols-1 offset-5"><a class="btn btn-info btn-block" href="/profile/{{ @customerid }}">Check balance/Pay fees</a></div>
		<div class="col cols-1"></div>
		<div class="col cols-1"></div>
	</div>
		<div class="row">
		<div class="col cols-1 offset-5"><a class="btn btn-info btn-block" href="/invoices/{{ @customerid }}">View Invoices</a></div>
		<div class="col cols-1"></div>
		<div class="col cols-1"></div>
	</div>
	<div class="row">
		<div class="col cols-1 offset-5"><a class="btn btn-info btn-block" href="/review/{{ @customerid }}">Write review(with score)</a></div>
		<!-----------List movies viewed/purched--------------------->
		<div class="col cols-1"></div>
		<div class="col cols-1"></div>
	</div>
</div>
