
<div class="container">
	<div class="row">
		<div class="col offset-md-1">
			<p class="display-4">Invoice </p>
		</div>
	</div>
	<div class="row">
		<div class="col offset-md-1">
			<check if="{{ count(@rentals)>0 }}">
				<true>
					<p class="h3">Rentals</p>
					<repeat group="{{ @rentals }}" value="{{ @rental }}">
						<p>{{ @rental['title'] }} ({{ @rental['inventory_type'] }}) | <check if="{{ @rental['return']=='Not yet returned'}}"><False>Returned On</False></check> {{ @rental['return'] }} | ${{ @rental['payment_amount'] }}.00 </p>
					</repeat>
				</true>
			</check>
			<check if="{{ count(@purchases)>0 }}">
				<true>
					<p class="h3">Purchases</p>
					<repeat group="{{ @purchases }}" value="{{ @purchase }}">
						<p>{{ @purchase['title'] }} ({{ @purchase['inventory_type'] }}) | ${{ @purchase['payment_amount'] }}.00 </p>
					</repeat>
				</true>
			</check>
			<check if="{{ @fees>0 }}">
				<true>
					<p class="h3">Late Fees</p>
					<p>${{ @fees }}.00 </p>
				</true>
			</check>
		</div>
	</div>
	<div class="row">
		<div class="col offset-md-1">
			<p class="h3">Total: ${{ @total }}.00</p>
		</div>
	</div>
</div>

