<div class="container">
	<div class="row mb-3">
		<div class="col">
			<p class="h1">Pricing Adjustment</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p class="h3"><strong>Rentals - New Releases</strong></p>
		</div>
		<div class="col">
			<input type="text" size="5" placeholder="${{ @new_release_price }}"/>
		</div>
		<div class="col"></div>
	</div>
	<div class="row mb-3">
		<div class="col">
			<p class="h3"><strong>Rentals - Standard</strong></p>
		</div>
		<div class="col">
			<input type="text" size="5" placeholder="${{ @standard_price }}"/>
		</div>
		<div class="col"></div>
	</div>
	<div class="row">
		<div class="col">
			<button type="button" class="btn btn-info">Save Changes</button>
		</div>
	</div>
</div>