<div class="container">
	<div class="row mb-3">
		<div class="col">
			<p class="h1">Total Revenue for {{ @genre }} by {{ @interval }}</p>
		</div>
	</div>
	<!-- TODO: Perform for number of intervals -->
	<div class="row">
		<div class="col">
			<!-- TODO: Calculate partial period, here -->
			<h3><strong>Period of:</strong> 10-20-20</h3>
			<h4>Rentals To-Date: $30,000,000</h4>
			<h4>Purchases To-Date: $30,000,000</h4>
			<h4><strong>Total: $60,000,000</strong></h4>
		</div>
	</div>
</container>